# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from the provided `data` folder and run the code below.

In [4]:
# Run this code to load the data

pokemon = pd.read_csv('../data/pokemon.csv')
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
legend = pokemon[pokemon["Legendary"] == True]
non_legend = pokemon[pokemon["Legendary"] == False]

print("Number of legendary Pokemons:", len(legend), "\nNumber of non-legend Pokemons:", len(non_legend))

Number of legendary Pokemons: 65
Number of non-legend Pokemons: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:
print("LEGENDARY POKEMONS")
print("mean:", np.mean(legend["Total"]), "std:", np.std(legend["Total"]))


print("\nNON-LEGEND POKEMONS")
print("mean:", np.mean(non_legend["Total"]), "std:", np.std(non_legend["Total"]))

LEGENDARY POKEMONS
mean: 637.3846153846154 std: 60.46682302213781

NON-LEGEND POKEMONS
mean: 417.21360544217686 std: 106.68776660321996

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# Your code here:
from scipy.stats import ttest_ind

# H0: the total points of legendary and non legendary does not differ significantly
# H1: the total points of legendary and non legendary does differ significantly

st, p = ttest_ind(legend["Total"], non_legend["Total"], equal_var=False)
print("statistic:", st, "p-value:", p)

statistic: 25.8335743895517 p-value: 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [9]:
# Your conclusions here:
"""
p<0.025 so the mean total points do differ between the two groups

"""

'\np<0.05 so the mean total points do differ between the two groups\n\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [14]:
# Your code here:
types = pokemon.groupby(pokemon["Type 1"]).count()
types["#"].sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: #, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [25]:
# Your code here:

print("WATER POKEMON")
water = pokemon[pokemon["Type 1"] == "Water"]
print("mean:", np.mean(water["Total"]), "\nstd:", np.std(water["Total"]))


print("\nOTHER POKEMON")
other = pokemon[pokemon["Type 1"] != "Water"]
print("mean:", np.mean(other["Total"]), "\nstd:", np.std(other["Total"]))

WATER POKEMON
mean: 430.45535714285717
std: 112.68182832909096

OTHER POKEMON
mean: 435.85901162790697
std: 121.00364762501167

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [27]:
# Your code here:
st, p = ttest_ind(water["Total"], other["Total"], equal_var=True)
print("statistic:", st, "\np-value:", p)

statistic: -0.4418547448849676
p-value: 0.6587140317488793

Write your conclusion below.

In [37]:
# Your conclusions here:
"""p > 0.025, so the H0 hypothesis is accepted. The Total points do not differ significantly between water and non-water pokemon."""

'p > 0.025, so the H0 hypothesis is accepted. The Total points do not differ significantly between water and non-water pokemon.'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [36]:
# Your code here:
from scipy.stats import ttest_rel

#H0: The mean Defense and Attack scores for pokemon are the same
#H1: The mean Defense and Attack scores for pokemon are different

st, p = ttest_rel(pokemon["Defense"], pokemon["Attack"])
print("statistic:", st, "\np-value", p)

statistic: -4.325566393330478
p-value 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [39]:
# Your conclusions here:

""" P<0.025 so the H0 is rejected, there is a significant difference between the mean Pokemon Attack and Defense score"""

' P<0.025 so the H0 is rejected, there is a significant difference between the mean Pokemon Attack and Defense score'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [41]:
# Your code here:
#Sp. Atk  and   Sp. Def
st, p = ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])
print("statistic:", st, "\np-value:", p)

statistic: 0.853986188453353
p-value: 0.3933685997548122

Describe the results of the test in the cell below.

In [43]:
# Your conclusions here:
""" p>0.025 so there is no significant difference between the mean special attack and mean special defense scores.
"""

' p>0.025 so there is no significant difference between the mean special attack and mean special defense scores.\n'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [55]:
# Your code here:
from scipy.stats import ttest_1samp

delta = pokemon["Sp. Atk"] - pokemon["Sp. Def"]

# H0: delta_mean == 0
# H1: delta_mean != 0


st1, p1 = ttest_1samp(delta, popmean=0)
print(st == st1, p==p1)

True True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [61]:
# Your code here:

table = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"]=="Water")
table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [62]:
# Your code here:
from scipy.stats import chi2_contingency

chi2_contingency(table)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [64]:
# Your answer here:

"""p = 0.086 so H0 cannot be rejected, meaning that there are no significantly more Water-pokemon with a legendary status than there are non-water-pokemon with a legendary status."""

'p = 0.086 so H0 cannot be rejected, meaning that there are no significantly more Water-pokemon with a legendary status than there are non-water-pokemon with a legendary status.'